
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ELEKTRÖN</a>
    <div>

      <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
    </div>
  </div>
</nav>

<h1>Carrito</h1>
<hr>

<table class="table" *ngFor="let item of items, let i =index">
  <thead>
    <tr>
      <th>No</th>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Borrar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{i + 1 }}</td>
      <td>{{item.title}}</td>
      <td>
        <img [src]="item.images" width="140px" height="140px">
      </td>
      <td>$ {{item.price}} pesos </td>
      <td>{{item.description}}</td>
      <td type="number">{{addFromToCart.length}}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-lg"
          (click)="borrarItem(i)"><i class="bi bi-trash-fill"></i> Borrar</button>
        <br>
        <button class="btn btn-outline-success btn-lg" (click)="confirmarItem()">Confirmar</button>
      </td>
    </tr>
  </tbody>
</table>
